.carousel-indicators {
  position: static;
  margin-top: 1rem;
  justify-content: center;
  gap: 0.5rem;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: none;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #000;
}

  #herosection{
   
    background-color:#f0f0fa;
  }

  .carousel-item img{
     display: block;
     height: 100%;
     position:relative;
     object-fit: cover;
     left: 10rem;
     width: 500px;
     height: 100vh;
  
  }

  .imgcontainer{
    background-color: #dcd2e8; /* very soft, almost pastel */
; 
    width: 33.333%; 
    display: inline-block;
  
  }

  .herobutton{
    background-color: #dcd2e8;
    border-radius: 10px;
  }

  a :hover{
    color: black;
  }

  .products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1.5rem;
}


.product-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.mat-icon {
    --mat-icon-color:#dcd2e8;
}


