input, select {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    font-size: 13px;
  }
  
  label{
    font-size: 12px;
  }
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }
  
  dialog{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:none;
    top: 10%;
  }

  .flexdev{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cancelbtn{
      float: right;
      color: white;
      background-color: rgb(138, 139, 139);
      border: none;
      border-radius: 10px;
      width: 100px;
  }

  .registerbtn{
    float: right;
      color: white;
      background-color:#8b79a3;
      border: none;
      border-radius: 10px;
      width: 100px;
  }