<div class="login-container">
  <mat-card class="login-card">
    <h2 class="title">{{ isLogin ? 'Welcome Back' : 'Create Account' }}</h2>

    <form #registerForm="ngForm" (ngSubmit)="submit(registerForm)">
      <mat-form-field appearance="outline" *ngIf="!isLogin" class="w-100">
        <mat-label>Full Name</mat-label>
        <input matInput [(ngModel)]="user.Username" #namectrl="ngModel" name="Username" required />
        <mat-icon matSuffix>person</mat-icon>

            <mat-error *ngIf="namectrl.errors?.['required'] && submitted">
    <span >
      Enter username
    </span>
  </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline" color="primary"  class="w-100 ">
        <mat-label>Email</mat-label>
        <input matInput type="email" #emailCtrl="ngModel" [(ngModel)]="user.Email" email name="email" placeholder="enter your email" required />
        <mat-icon matSuffix>mail</mat-icon>
  <mat-error class="">
    <span *ngIf="emailCtrl.errors?.['required'] && submitted">
      Email is required
    </span>

    <span *ngIf="emailCtrl.invalid && emailCtrl.touched && submitted">
      Please enter a valid email address
    </span>
  </mat-error>
    <mat-error>
  
      </mat-error>
      </mat-form-field>
   
      <div class="text-danger small mt-1" *ngIf="registerfailed">
{{registererrmsg}}
      </div>
      <mat-form-field appearance="outline" class="w-100 ">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'Password' : 'text'"
          [(ngModel)]="user.Password"
          name="Password"
          #passctrl="ngModel"
          required
          placeholder="enter password"
        />
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">

          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>


    <mat-error *ngIf="passctrl.errors?.['required'] && submitted">
    <span >
      Enter Password
    </span>
  </mat-error>

      </mat-form-field>

      <button mat-raised-button style = "color:#8b79a3" class="w-100 mt-2">
        {{ isLogin ? 'Login' : 'Sign Up' }}
      </button>
    </form>

    <p class="switch-mode">
      {{ isLogin ? "Don't have an account?" : "Already have an account?" }}
      <button mat-button style = "color:#8b79a3" (click)="toggleMode()">
        {{ isLogin ? 'Sign Up' : 'Login' }}
      </button>
    </p>
  </mat-card>
</div>

