
<div>

    @if (isNewcategory)
    {
      <app-addcategory [isNew]="isNew" [category] = "newCategory" (cancel)="onCancel()" (save)="onSave($event)"/>
    }
  
    @if (isUpdatecategory)
    {
      <app-addcategory [isNew]="isNew"  [category] = "selectedCategory" (cancel)="onCancel()" (save)="onSave($event)"/>
    }


    @if(openconfirmbox)
    {
    <dialog open>
      
      <h2 style="font-size: 14px;padding: 20px 0px 40px 0px;">are you sure you want to delete this product?</h2>
  
      <div style="display: flex; flex-direction: row; justify-content:end; gap: 10px;position:relative; bottom: 0px;">
        <button class="confirmbtn" (click)="onComfirmdelete()">confirm</button>
        <button class="canclbtn" (click)="onCancelConfirm()">cancel</button>
      </div>
    </dialog>
    }
  
    <app-header title="Categories"/>
    
    <div class="utabledev">
  
      <div class="header">
        <h3>Categories list</h3>
        <button class="addbtn" type="button" (click)="opendialog()">Add category</button>
      </div>
      <table id="categories">
        <thead>
          <tr>
            <!--<th>ID</th>-->
            <th>Name</th>
            <th class="centerth">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of paginatedCategories">
            <!--<td>{{ user.UserID }}</td>-->
            <td>{{ category.Name }}</td>
           
            <td class="Actions">
              <button class="iconbtn"><i class="fa-solid fa-trash-can" (click)="deleteCategory(category.CategoryID)"></i></button>
              <button class="iconbtn"><i class="fa-solid fa-pen AC" (click)="onEdit(category.CategoryID,category)"></i></button>
              <button class="iconbtn"><i class="fa-solid fa-eye AC" (click)="onDisplay(category.CategoryID)"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
  
  
  <!-- Pagination Controls -->
  
  <div class="pagination">
  
    <button class="firstbtn" (click)="goToPage(1)" [disabled]="currentPage === 1">
      First
    </button>
    <button class="fa-solid fa-angles-left prevbtn" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
    </button>
  
    <button
      class="paginatebtn"
      *ngFor="let page of getPaginationArray()"
      (click)="goToPage(page)"
      [class.active]="currentPage === page"
    >
      {{ page }}
  
    </button>
  
    <button
    class="fa-solid fa-angles-right" class="fa-solid fa-angles-right nextbtn"
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
  
  </button>
  <button
  class="lastbtn"
    (click)="goToPage(totalPages)"
    [disabled]="currentPage === totalPages"
  >
    Last
  </button>
  
  </div>
  
    </div>
  
  
    </div>
      
    
   
