<body>
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form [formGroup]="loginForm" (ngSubmit)="login()" class="login">
                <h3 style="font-size: 28px; color: #7875B5; text-align: center;">Login</h3>
				@if(FailedLogin){
				<div class="errormsg">invalid email or password</div>
				}
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Email" [formControl]="loginForm.controls.Email" name="Email">

					@if(loginForm.controls.Email.touched && loginForm.controls.Email.invalid){
						<p class="errormsg">please enter email</p>
					  }
				</div>

				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" [formControl]="loginForm.controls.Password" name="Password">

					@if(loginForm.controls.Password.touched && loginForm.controls.Password.invalid){
						<p class="errormsg">please enter password</p>
					  }

				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Log In</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
</body>
