
<app-header title="Add Product"/>
  <div >
   
<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

      <div class="form-row">

        <div class="input-data">
          <label for="productName" >Product Name</label>
          <input type="text" id="productName" [formControl]="productForm.controls.productName" required/>
          @if(productForm.controls.productName.touched && productForm.controls.productName.invalid){
            <p class="errormsg">please enter product name</p>
          }
        </div>
      
        <div class="input-data">
          <label for="CategoryID" >Category</label>
          <select id="CategoryID" [formControl]="productForm.controls.CategoryID" name="CategoryID">
            <option value="" disabled selected>Select category</option>
            <option *ngFor="let category of categories" [value]="category.CategoryID">{{ category.Name }}</option>
          </select>
  
          @if(productForm.controls.CategoryID.touched && productForm.controls.CategoryID.invalid){
            <p class="errormsg">please select Category</p>
          }
        </div>
       

      </div>
      
      <div class="form-row">

        <div class="input-data">
          <label for="Stock" >Stock</label>
          <input type="number" id="Stock" [formControl]="productForm.controls.Stock" required/>
  
          @if(productForm.controls.Stock.touched && productForm.controls.Stock.invalid){
            <p class="errormsg">please enter Stock </p>
          }
        </div>
      <div class="input-data">
        <label for="Price">Price</label>
        <input type="number" id="Price" [formControl]="productForm.controls.Price" required/>

        @if(productForm.controls.Price.touched && productForm.controls.Price.invalid){
          <p class="errormsg">please enter product Price</p>
        }
      </div>
    </div>

    <div class="form-row">

      <div class="input-data textarea">
        <label for="Description" >Description</label>
        <!--<input type="text" id="Description" formControlName="Description"   />-->
        <textarea rows="3" id="Description" [formControl]="productForm.controls.Description" required></textarea>

        @if(productForm.controls.Description.touched && productForm.controls.Description.invalid){
          <p class="errormsg">please enter Description</p>
        }

      </div>
      
    </div>

    <div style="display: flex; flex-direction: row; justify-content: space-between; padding:0px 20px">
      <div class="file-input-wrapper">
        <label for="file-upload" class="custom-file-upload">
          <i class="fas fa-upload"></i> Upload Product Image
        </label>
        <input
          id="file-upload"
          type="file"
          (change)="onFileSelect($event)"
          class="hidden-file-input"
        />
        @if(productForm.controls.image.touched && productForm.controls.image.invalid){
        <div >
          <small class="errormsg">Image is required.</small>
        </div>
      }
      </div>

      @if(imagePreview){
      <div>
        <img [src]="imagePreview" alt="Preview" class="preview-image" />
      </div>
    }
    </div>

    

    <div class="flexdev">
      <button class="registerbtn" type="submit" >Add</button>

      
      <button class="cancelbtn" type="button" (click)="onCancel()">cancel</button>
      
    </div>

   
    </form>
  
    @if(previewimage)
    {
            <dialog open>
              <i class="fa-solid fa-xmark" style="position: absolute; background-color: gray; align-self: flex-end; padding: 10px;" (click)="onClose()"></i>
              <img [src]="imagePreview" alt="Preview" class="preview-image" />
            </dialog>
          }
    
  </div>


  </div>
  
