<div id="herosection" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-inner">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="d-flex flex-column flex-md-row align-items-center text-dark">

        <div class="imgcontainer">
          <img src="sliderOne.jpg" class="img-fluid " alt="Summer Essentials">
        </div>
     

        <div class="col-12 col-md text-center">
          <div class=" flex flex-col items-center gap-5">
            <p >Get the Best products for you</p>
            <p class="text-center fw-light">Browse the latest phones in the Market and get the one you dreamt for</p>
            <p class=" fw-semibold">Phones in Demand</p>
            <button class="btn fw-medium text-secondary herobutton" (click)="scrollToSection('products')">Select a Product</button>
          </div>

          
          <div class="carousel-indicators mt-4 justify-content-center">
            <button type="button" data-bs-target="#herosection" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#herosection" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#herosection" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
      
        </div>
       
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="d-flex flex-column flex-md-row align-items-center text-dark">

        <div class="imgcontainer">
          <img src="sliderTwo.jpg" class="img-fluid" alt="Tech Upgrades">
        </div>

        <div class="col-12 col-md text-center">
          <div class=" flex flex-col items-center gap-5">
            <p >Get the Best products for you</p>
            <p class="text-center fw-light">Browse the latest t-shirt in the Market and get the one you dreamt for</p>
            <p class=" fw-semibold">T-shirt in Demand</p>
            <button class=" btn fw-medium text-secondary herobutton" (click)="scrollToSection('products')">Select a Product</button>
          </div>

          <div class="carousel-indicators mt-4 justify-content-center">
            <button type="button" data-bs-target="#herosection" data-bs-slide-to="0" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#herosection" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#herosection" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
  
        </div>
       
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="d-flex flex-column flex-md-row align-items-center text-dark">

        <div class="imgcontainer">
          <img src="sliderThree.jpg" class="img-fluid" alt="Tech Upgrades">
        </div>

        <div class="col-12 col-md text-center">
          <div class=" flex flex-col items-center gap-5">
            <p >Get the Best products for you</p>
            <p class="text-center fw-light">Browse the latest t-shirt in the Market and get the one you dreamt for</p>
            <p class=" fw-semibold">T-shirt in Demand</p>
            <button class="btn fw-medium text-secondary herobutton" (click)="scrollToSection('products')">Select a Product</button>
          </div>

          <div class="carousel-indicators mt-4 justify-content-center">
            <button type="button" data-bs-target="#herosection" data-bs-slide-to="0" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#herosection" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#herosection" data-bs-slide-to="2" class="active" aria-current="true" aria-label="Slide 3"></button>
          </div>
  
        </div>
      
      </div>
    </div>
  </div>

  <div class="bg-white d-flex justify-content-center position-absolute start-50 translate-middle pt-2 pb-2 mx-auto w-75" style="z-index:1;">
   
    <div class="d-flex flex-column flex-md-row justify-content-between gap-3 my-3" style="gap: 6rem;">
      <div class="d-flex align-items-center gap-3"> 
        <mat-icon>schedule</mat-icon>
        <div>
          <p class="m-0">Saturday - Thursday</p>
          <p class="m-0 fw-semibold">7:00 - 20:00</p>
        </div>  
      </div>
      <div class="d-flex align-items-center gap-3"> 
        <mat-icon fontSet="material-symbols-outlined">mobile_2</mat-icon>
        <div>
          <p class="m-0">+ 962 0000 0000</p>
          <p class="m-0 fw-semibold">Order by Phone</p>
        </div>
      
      </div>
      <div class="d-flex align-items-center gap-3"> 
                <mat-icon fontSet="material-symbols-outlined">map</mat-icon>

        <div>
          <p class="m-0">Amman, Jordan</p>
          <p class="m-0 fw-semibold">Address</p>
        </div>
      </div>

      <div class="d-flex align-items-center gap-3"> 
                <mat-icon fontSet="material-symbols-outlined">outgoing_mail</mat-icon>

        <div>
          <p class="m-0">Get an invoice</p>
          <p class="m-0 fw-semibold">Email us</p>
        </div>
      
      </div>
    </div>
  </div>
</div>

<div id="products"  class="flex flex-col gap-2 items-center">
  <h2 class="text-center fw-semibold pt-2">Choose a category</h2>
  <p class="text-center">Explore dozens of customized layouts made by our brilliant designers.</p>
  </div>
  

   <div  class=" d-flex items-center gap-2 mt-4 justify-content-center">
      <a  *ngFor="let category of categories" [routerLink]="['/category', category.CategoryID,category.Name]" routerLinkActive="active" class="d-flex gap-2 text-decoration-none" style="color: #71717a;">

            <mat-icon style="color: #71717a;">{{categoryiconMap[category.Name] || 'category'}}</mat-icon>

        <p>{{ category.Name }}</p>
      <div class=" d-inline-flex" style="width: 1px; height: 24px; background-color: #fcb900;"></div>

      </a>

      </div>


 

<div class="container mt-4">

  <div *ngIf="isLoading" class="text-center my-5">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

<div *ngIf="!isLoading && products.length === 0" class="alert alert-warning">
  No products found.
</div>

<div  class="products-grid" *ngIf="!isLoading">
  <div class="product-card" *ngFor="let product of products">
  <app-product-card [product]="product"></app-product-card>
  </div>
</div>
</div>

