/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: Lora, "Helvetica Neue", sans-serif;  background-color: whitesmoke; }

html, body { height: 100%; }
body { margin: 0; font-family: Lora, "Helvetica Neue", sans-serif; }
