.card-title{
    font-size: 14px;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }


 .product-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.product-info {
  padding: 1rem;
  text-align: left;
  background-color: #f9f9f9;

}

.product-info h3 {
  font-size: 1rem;
  color: var(--color-text);
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.product-info h3:hover {
  color:var(--color-primary) ;
}

.price:hover {
  color:var(--color-primary) ;
}

.price {
  color: var(--color-text);
  font-weight: 600;
  font-size: 1rem;
 
}

.btn-add {
  background: transparent;
  color: var(--color-text);
  border: none;
  border-radius: 8px;
  padding: 0px;
  cursor: pointer;
  transition: background 0.3s;
}

.ActionsDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
}
.btn-add:hover {
  color:var(--color-primary) ;
}

.img-wrapper {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

.img-wrapper img {
  max-height: 100%;
  object-fit: cover;
  width: 100%;
 
}