
.logoname{
    background: linear-gradient(to right, #C7C5F4, #776BCC,#504ba8, #cf23cf); 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    font-size: 30px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #8b79a3; /* Bootstrap primary */
    color: #8b79a3 !important;
  }


  .btnlogout
  {
    background-color: transparent;
    color:var(--color-text-secondary);
    border: none;
    font-weight: 500;
  }

  .smartify-color {
  color: #8b79a3;
}
