
<div>
 
    @if (isNewproduct)
    {
      <app-addproduct [isNew]="isNew" [product] = "newProduct" (cancel)="onCancel()" (save)="onSave()"/>
    }
  
    @if (isUpdateproduct)
    {
      <app-addproduct [isNew]="isNew"  [product] = "selectedProduct" (cancel)="onCancel()" (save)="onSave()"/>
    }


    @if(openconfirmbox)
    {
    <dialog open>
      
      <h2 style="font-size: 14px;padding: 20px 0px 40px 0px;">are you sure you want to delete this product?</h2>
  
      <div style="display: flex; flex-direction: row; justify-content:end; gap: 10px;position:relative; bottom: 0px;">
        <button class="confirmbtn" (click)="onComfirmdelete()">confirm</button>
        <button class="canclbtn" (click)="onCancelConfirm()">cancel</button>
      </div>
    </dialog>
    }
  
    <app-header title="Products"/>
    
    <div class="utabledev">
  
      <div class="header">
        <h3>Products list</h3>
        <button class="addbtn" type="button" routerLink="addproduct">Add product</button>
      </div>
      <table id="products">
        <thead>
          <tr>
            <!--<th>ID</th>-->
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
            <th class="centerth">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of paginatedProducts">
            <!--<td>{{ user.UserID }}</td>-->
            <td>{{ product.productName }}</td>
            <td>{{ product.Description }}</td>
            <td>{{ product.Price}}</td>
            <td>{{ product.Stock}}</td>
            <td>{{ product.categoryName}}</td>
         
            <td class="Actions">
              <button class="iconbtn"><i class="fa-solid fa-trash-can" (click)="deleteProduct(product.ProductID)"></i></button>
              <button class="iconbtn"><i class="fa-solid fa-pen AC" (click)="onEdit(product.ProductID,product)"></i></button>
              <button class="iconbtn"><i class="fa-solid fa-eye AC" (click)="onDisplay(product.ProductID)"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
  
  
  <!-- Pagination Controls -->
  
  <div class="pagination">
  
    <button class="firstbtn" (click)="goToPage(1)" [disabled]="currentPage === 1">
      First
    </button>
    <button class="fa-solid fa-angles-left prevbtn" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
    </button>
  
    <button
      class="paginatebtn"
      *ngFor="let page of getPaginationArray()"
      (click)="goToPage(page)"
      [class.active]="currentPage === page"
    >
      {{ page }}
  
    </button>
  
    <button
    class="fa-solid fa-angles-right" class="fa-solid fa-angles-right nextbtn"
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
  
  </button>
  <button
  class="lastbtn"
    (click)="goToPage(totalPages)"
    [disabled]="currentPage === totalPages"
  >
    Last
  </button>
  
  </div>
  
    </div>
  
  
    </div>
      
    
   