

.shopbutton{
background-color: #8b79a3 ;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    color: white;
}


.empty-cart-icon {
  display: inline-block;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}


 .color-primary{
    color: #8b79a3;
 }