.category-container {
  padding: 3rem 4%;
  color: #222;
  background-color: #fafafa;
  min-height: 100vh;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.category-header h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text);
}

.filters {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  color: #dcd2e8;
}

.filters select {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.95rem;
  outline: none;
  cursor: pointer;
  background-color: #fafafa;
}

.dropdown-item:hover {
  background-color: #dcd2e8;
  color: #fff;
}

.mat-select-panel .mat-option:hover {
  background-color: #8b79a3 !important;
  color: white !important;
}

.loader {
  text-align: center;
  padding: 3rem;
  font-size: 1.1rem;
  color: #666;
}

/* GRID LAYOUT */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1.5rem;
}

/* PRODUCT CARD */
.product-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.img-wrapper {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

.img-wrapper img {
  max-height: 100%;
  object-fit: cover;
  width: 100%;
}

.product-info {
  padding: 1rem;
  text-align: left;
  background-color: #f9f9f9;

}

.product-info h3 {
  font-size: 1rem;
  color: var(--color-text);
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.product-info h3:hover {
  color:var(--color-primary) ;
}

.price:hover {
  color:var(--color-primary) ;
}

.price {
  color: var(--color-text);
  font-weight: 600;
  font-size: 1rem;
 
}

.btn-add {
  background: transparent;
  color: var(--color-text);
  border: none;
  border-radius: 8px;
  padding: 0px;
  cursor: pointer;
  transition: background 0.3s;
}

.ActionsDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
}
.btn-add:hover {
  color:var(--color-primary) ;
}

  .nodataimage {
    width: 180px;
    opacity: 0.9;
    margin-bottom: 1.5rem;
    height: 20rem;
  }

  
  .no-data {
  text-align: center;
  padding: 0px;
  color: var(--color-text-secondary);

  }

  h2 {
    font-size: 1.4rem;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
  }
/* RESPONSIVE */
@media (max-width: 768px) {
  .category-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .filters {
    justify-content: flex-start;
  }
  .img-wrapper {
    height: 180px;
  }


}


