
<div class="category-container">
  <!-- Header -->

  
  <div class="category-header">
    <div>
       <h2 class="fw-bold text-secondary">{{ categoryName | titlecase }}</h2>
    <p *ngIf="!isLoading && products.length > 0" class="fw-bold text-secondary">{{ products.length }} products found</p>
    </div>
     

  <!-- Filter Bar -->
<div class="dropdown">
  <button class="btn btn-light dropdown-toggle text-secondary" type="button" id="sortDropdown" data-bs-toggle="dropdown">
    Sort by
  </button>
  <ul class="dropdown-menu" aria-labelledby="sortDropdown">
    <li><a class="dropdown-item"  (click)="setSort('default')">Default</a></li>
    <li><a class="dropdown-item"  (click)="setSort('price-low')">Price: Low to High</a></li>
    <li><a class="dropdown-item"  (click)="setSort('price-high')">Price: High to Low</a></li>
    <li><a class="dropdown-item"  (click)="setSort('name')">Name</a></li>
  </ul>
</div>


  </div>

<div class="no-data" *ngIf="!products || products.length === 0">
  <img src="no-data.svg" alt="No data" class="nodataimage"/>
  <h2>No products found</h2>
  <p>Try selecting another category or check back later.</p>
</div>

  <!-- Loading State -->
  <div *ngIf="isLoading" class="loader">Loading products...</div>

  <!-- Product Grid -->
  <div *ngIf="!isLoading" class="products-grid">
    <div *ngFor="let p of products" class="product-card">

      <app-product-card [product]="p"></app-product-card>

      <!--<div class="img-wrapper">
        <img [src]="p.ImagePath" [alt]="p.productName" />
      </div>
      <div class="product-info">
        <h3>{{ p.productName }}</h3>
        <p class="price">{{ p.Price | currency: 'USD' }}</p>
        <div class="ActionsDiv">
        <button class="btn-add">Add to Cart</button>
        <button class="btn-add" [routerLink]="['/product', p.ProductID]">More Info</button>
     
        </div>
      </div>-->
    </div>
  </div>
</div>
