

<app-header title="Create Order"/>
 
<div class="container">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

      <div class="form-row">
        <div class="input-data">
            <label for="UserID" >User</label>
            <select id="UserID" [formControl]="orderForm.controls.UserID" name="UserID">
              <option value="" disabled selected>Select user</option>
              <option *ngFor="let user of Users" [value]="user.UserID">{{ user.Username }}</option>
            </select>
    
            @if(orderForm.controls.UserID.touched && orderForm.controls.UserID.invalid){
              <p class="errormsg">please select User</p>
            }
          </div>
    
          <div class="input-data">
            <label for="OrderStatus">Order Status</label>
            <select id="OrderStatus" [formControl]="orderForm.controls.OrderStatus" name="OrderStatus">
              <option value="" selected>Select Status</option>
              <option value="Pending">Pending</option>
              <option value="Shipping" >Shipping</option>
              <option value="Completed">Completed</option>
            </select>
        
            @if(orderForm.controls.UserID.touched && orderForm.controls.UserID.invalid){
              <p class="errormsg">please select Status</p>
            }
          </div>
</div>
  

      <div formArrayName="orderItems" >
        <h4 style="color: #636262; font-size: 15px; margin: 0px 20px;">Order Items</h4>
        <div *ngFor="let item of orderItems.controls; let i = index" [formGroupName]="i">
         
          <div class="form-row">

        <div class="input-data">

            <label for="productId-{{ i }}" >Product</label>
          <select id="productId-{{ i }}" name="ProductID" formControlName="ProductID"
          (change)="updatePrice(i, $event)"
          >
          
            <option value="" disabled selected>Select product</option>
            <option *ngFor="let product of Products"  [value]="product.ProductID">{{ product.productName}}</option>
          </select>
</div>

      <div class="input-data">
          <label for="quantity-{{ i }}" >Quantity</label>
          <input type="number" id="quantity-{{ i }}" formControlName="Quantity" />
          
       </div>

       <div class="input-data">

          <label for="price-{{ i }}" >Price</label>
          <input type="number" id="price-{{ i }}" formControlName="Price" readonly />

        </div>

          <button class="iconbtn"><i class="fa-solid fa-trash-can" style="color: red;" (click)="removeOrderItem(i)"></i></button>
       

        </div>
          
        </div>

      <div style="text-align: center;">

        <button type="button" class="additembtn" (click)="addOrderItem()">Add Item</button>

      </div>

      </div>
    
      <div>
      <button type="submit" class="registerbtn"  [disabled]="orderForm.invalid">Create Order</button>
    </div>

    </form>
  </div>
  