
<app-header title="Dashboard"/>

<div class="dashboard-container">
    
    <div class="stats">
      <div class="stat-card">
        <h3>Total Products</h3>
        <p>{{ totalProducts }}</p>
      </div>
      <div class="stat-card">
        <h3>Total Categories</h3>
        <p>{{ totalCategories }}</p>
      </div>
      <div class="stat-card">
        <h3>Total Orders</h3>
        <p>{{ totalOrders }}</p>
      </div>
      <div class="stat-card">
        <h3>Total Users</h3>
        <p>{{ totalUsers }}</p>
      </div>
    </div>
  </div>
  
