
<div class="row align-items-center align-items-md-start mx-2 mx-md-0 mt-4 gy-3">

<div class="col-12 col-md-4">
    <img class = "img-fluid" [src]="product.ImagePath" alt={{product.productName}} style="height: 400px; width: 90%;"/>
</div>

    <div class="col-12 col-md-8 align-self-center">
      <div class="row mb-2">
  <div class="col-2 fw-bold">Name:</div>
  <div class="col-9">{{ product.productName }}</div>
</div>


<div class="row mb-2">
  <div class="col-2 fw-bold">Price:</div>
  <div class="col-9 text-success">
    {{ product.Price | currency }}
  </div>
</div>


<div class="row mb-3">
  <div class="col-12 col-md-2 fw-bold">Description:</div>
  <div class="col-12 col-md-9 text-muted">{{ product.Description }}</div>
</div>

      <div class="row col-12 col-md-2">
        <button mat-raised-button color="primary" class="addtocartbutton" (click)="AddToCart()">
          <mat-icon>shopping_cart</mat-icon> Add to Cart
        </button>

      </div>
      </div>


</div>




